# **Extract Tranform Load**

## **File Download**

In [ ]:
#installed wget for downloading the files from https.
pip install python3-wget

In [ ]:
#imported the library
import wget #https://www.stechies.com/download-file-python/ 

#contains url in variable called url
url="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/source.zip"  

#downloaded the file from URL and store it to the mentioned path.
wget.download(url,'/content/Project')

'/content/Project/source.zip'

##**UnZipping files**

In [ ]:
# As files are zipped to unzip import zipfile library
from zipfile import ZipFile

# unzip the file here 'r' means read. and give this an alias name
with ZipFile('/content/Project/source.zip','r') as z:
  # Given the path where the extracted files will be located
  z.extractall(path='/content/Project')

##**Extracting data from the files**

In [ ]:
# Imported pandas & read the files
import pandas as pd
df=pd.read_csv('/content/Project/source3.csv')
df

    name  height  weight
0   alex   65.78  112.99
1   ajay   71.52  136.49
2  alice   69.40  153.03
3   ravi   68.22  142.34
4    joe   67.79  144.30

In [ ]:
df=pd.read_json('/content/Project/source3.json',lines=True) #https://stackoverflow.com/questions/30088006/loading-a-file-with-more-than-one-line-of-json-into-pandas
df

    name  height  weight
0   jack   68.70  123.30
1    tom   69.80  141.49
2  tracy   70.01  136.46
3   john   67.90  112.37

In [ ]:
df=pd.read_xml('/content/Project/source3.xml')
df

    name  height  weight
0  simon   67.90  112.37
1  jacob   66.78  120.67
2  cindy   66.49  127.45
3   ivan   67.62  114.14

##**Merging files**

## **Creating a function**

In [ ]:
# merging files of same format and same column name.
def file_merger(path_of_files,extension):
  # For searching files
  import glob
  # For data analysis/manupulation
  import pandas as pd
  # for operating system functions
  import os

  # Changing directory if required.
  os.chdir(path_of_files)
  
  # contained the name of all required files in the variable list,here *.{} means * start from zero to last,. a character,{} for specifying the format we give in format{} 
  result = list(glob.glob('*.{}'.format(extension)))

  # Merged file using concat function using list comprehension
  if extension=='csv':
    merged_file=pd.concat([pd.read_csv(file) for file in result],ignore_index=True)
  elif extension=='json':
    merged_file=pd.concat([pd.read_json(file,lines=True) for file in result],ignore_index=True)
  elif extension=='xml':
    merged_file=pd.concat([pd.read_xml(file) for file in result],ignore_index=True)
  return merged_file

In [ ]:
# saving the merged files into csv in folder.
def save_file_to_csv(df,destination_path,name):
  import pandas as pd
  df.to_csv(destination_path+'/'+name+'.csv',index=False)

## **CSV files**

In [ ]:
csv=file_merger('/content/Project','csv')
save_file_to_csv(csv,'/content/Project/','merged_csv')

## **json files**

In [ ]:
json=file_merger('/content/Project','json')
save_file_to_csv(json,'/content/Project/','merged_json')

## **XML files**

In [ ]:
xml=file_merger('/content/Project','xml')
save_file_to_csv(xml,'/content/Project/','merged_xml')

## **Merging the final file**

In [ ]:
final_file=pd.concat(map(pd.read_csv,['merged_csv.csv','merged_json.csv','merged_xml.csv']),ignore_index=True)
save_file_to_csv(final_file,'/content/Project/','final_file')

## **Formating the file**

In [ ]:
final_file['height']=round(final_file['height']/12,1) #converting height from milimeter to foot
final_file

In [ ]:
# converting weight from pounds to kg
final_file['weight']=round(final_file['weight']/2.205,2)
final_file

## **Changing column name**

In [ ]:
	# name	height	weight
final_file.rename(columns={'name':'Name','height':'Height(Foot)','weight':'Weight(Kgs.)'},inplace=True)
final_file

In [ ]:
save_file_to_csv(final_file,'/content/Project','Final')